/* Fondo animado */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(-45deg, #74ebd5, #acb6e5, #a1c4fd, #c2e9fb);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
